.imagesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h3 {
    margin-bottom: 20px;
  }
  
  .imageAnalysisContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
  }
  
  .imageAnalysisBox {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    max-width: 700px; 
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .imageContainer {
    flex: 0 0 40%; 
    text-align: center;
  }
  
  .plotImage {
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 300px; 
    object-fit: cover; 
  }
  
  .analysisContainer {
    flex: 1; 
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-height: 300px; 
    overflow-y: auto; 
    color: black;
  }
  
  .analysisContainer p {
    margin: 0;
    padding: 5px 0;
    font-size: 14px; 
  }
  
  .button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  